bin
obj
.DS_Store
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/nbproject/private/
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/build/
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/dist/
/appverse-core/project/Netbeans/UnityCore/dist/AppverseCoreJava-1.1/
/appverse-samples/AppverseTwitter_NetBeans/gen/
/appverse-samples/AppverseTwitter_NetBeans/nbandroid/
/appverse-samples/AppverseRss_NetBeans/gen/
/appverse-runtime-android-zxing/gen/
/appverse-samples/AppverseRss_NetBeans/nbandroid/
/appverse-runtime-android-zxing/nbandroid/
/appverse-runtime-android/gen/
/appverse-runtime-android/nbandroid/
appverse-runtime-android/local.properties
appverse-runtime-android/libs/AppverseCoreJava.jar
appverse-runtime-android/libs/AppversePlatformAndroid.jar
appverse-runtime-android-zxing/local.properties
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-samples/AppverseRss_NetBeans/libs/AppversePlatformAndroid.jar
appverse-samples/AppverseRss_NetBeans/libs/AppverseCoreJava.jar
appverse-platform-android/lib/AppverseCoreJava.jar
appverse-runtime-android/.idea/.name
appverse-runtime-android/.idea/compiler.xml
appverse-runtime-android/.idea/copyright/profiles_settings.xml
out
.idea