bin
obj
.DS_Store
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/nbproject/private/
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/build/
/appverse-platform-android/projects/Netbeans/AppversePlatformAndroid/dist/
/appverse-core/project/Netbeans/UnityCore/dist/AppverseCoreJava-1.1/
/appverse-samples/AppverseTwitter_NetBeans/gen/
/appverse-samples/AppverseTwitter_NetBeans/nbandroid/