/* styles for pull to refresh */

div.pullrefresh, div.loadingspacer, div.pullrefresh div.msgwrap, div.loadingspacer div.msgwrap {
  background-color: #d8e4ee !important; /* e1e1e1 */
}

div.pullrefresh span.arrow {
  width: 32px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url('../assets/pullrefresh/blackArrow.png');
  background-repeat: no-repeat;
  margin: 10px 0 0 25px;
}

div.loadingspacer span.loading {
  width: 32px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url('../assets/pullrefresh/loader.gif');
  background-repeat: no-repeat;
  /*background-position: 0 7px;*/
  margin: 10px 0 0 25px;
}

div.pullrefresh span.msg, div.loadingspacer span.msg {
  width: 80%;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  top: 12px;
  left: 40px;
  margin: 5px 0 5px 40px; 
  font-weight: bold;
}

div.pullrefresh span.lastupdate {
  width: 80%;
  text-align: center;
  font-size: 0.7em;
  position: absolute;
  top: 25px;
  left: 40px;
  margin: 15px 0 5px 40px;
}