; Enumerate here the Appverse JS frameworks you want to include in your application.
; Place this file at /app folder under your application path.
; This is the default configuration when no app.config file is including on the building app.
; Commented lines should be preceded by a semicolon.
appverse = 4.3
sencha = 1.1.0
;jquery = 1.5.2
;highcharts = 2.1.5.1