<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="8.0.1-beta3" targetFramework="wpa81" />
  <package id="NotificationsExtensions.Portable" version="1.0.7" targetFramework="wpa81" />
</packages>