/************************************************/
/* Changing style for all application toolbars */
/************************************************/
.x-toolbar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(3%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 3%, white 100%);
  border-bottom: 1px solid #e6e6e6 !important; }
  .x-toolbar .x-toolbar-title {
    background-image: url("../images/logo.png");
    background-size: 114px 47px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 44px; }
  .x-toolbar .x-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(3%, #3399ff), color-stop(100%, #0066cc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #3399ff 3%, #0066cc 100%);
    border: 1px solid #003366; }
    .x-toolbar .x-button img.x-icon-mask {
      width: 1.3em;
      height: 1.3em;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center; }
      .x-toolbar .x-button img.x-icon-mask.locate {
        -webkit-mask-image: url("../images/locator_map_icon.png");
        -webkit-mask-size: 12px 21px; }
      .x-toolbar .x-button img.x-icon-mask.home {
        -webkit-mask-image: url("../images/list_button.png");
        -webkit-mask-size: 18px 18px; }
    .x-toolbar .x-button.x-button-pressed {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(3%, #0066cc), color-stop(100%, #003366));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #0066cc 3%, #003366 100%); }

/************************************************/
/* Changing style for search toolbar */
/************************************************/
.searchToolbar {
  padding: 0px;
  height: 44px;
  border-bottom: 1px solid #f4bbbb !important; }
  .searchToolbar .x-field {
    margin: 0px;
    padding: 0px; }
  .searchToolbar .searchBar {
    height: 44px;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 3px #565656;
    background-color: #FFF;
    border: none;
    border-bottom: 1px solid #e03636 !important; }
    .searchToolbar .searchBar .x-input-search {
      border-radius: 0px;
      background-color: transparent;
      height: 44px;
      font-size: 14px;
      color: #565656;
      font-weight: normal;
      padding-left: 28px;
      -webkit-box-shadow: none;
      -webkit-background-size: 15px 15px;
      background-image: url("../images/glass_icon.png"); }
      .searchToolbar .searchBar .x-input-search::-webkit-input-placeholder {
        color: #898989; }
    .searchToolbar .searchBar .x-field-clear-container {
      background-color: transparent;
      padding: 0 .7em; }
      .searchToolbar .searchBar .x-field-clear-container .x-field-clear {
        background-color: #565656; }

.logo {
  background-image: url("../images/gnews.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
  width: 186px; }

.title {
  font-size: 18px;
  text-align: center; }
