<!DOCTYPE html>
<div class="container text-center" scrolly-scroll ng-controller="homeController">
  <div class="page-header">
        <h1>{{title}}</h1>
  </div>
  <div class="well">
       <img src="styles/images/logo.png" alt="Appverse HTML5 Powered" title="Appverse HTML5 Powered">
       <div class="list-group" ng-repeat="item in items">          
          <a ng-click="open(item)" class="list-group-item">{{item.title.__text}}</a>
        </div>
  </div>
  <div>
     <h4> Thank you for using Appverse. </h4>     
  </div>
</div>
