<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<!-- [MOBPLAT-102] we have removed this orientation configuration and delegated it to the UnityUI_iOSViewController#GetSupportedInterfaceOrientations() method for iOS 6 and later, 
	and UnityUI_iOSViewController#ShouldAutorotateToInterfaceOrientation for <iOS 6 --> 
	<!-- [MOBPLAT-130] We need to place those values again, otherwise the correct splashscreen is not shown. 
		 UISupportedInterfaceOrientations will allow ALL orientations for all view controllers, 
		 CustomUISupportedInterfaceOrientations will restrict orientations as configured by the app for each device type iPhone/iPad just for the MAIN view controller -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
	<key>UILaunchImages</key>
	<array>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Portrait</string>
	        <key>UILaunchImageSize</key>
	        <string>{320, 480}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Landscape</string>
	        <key>UILaunchImageSize</key>
	        <string>{320, 480}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-568h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Portrait</string>
	        <key>UILaunchImageSize</key>
	        <string>{320, 568}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-568h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Landscape</string>
	        <key>UILaunchImageSize</key>
	        <string>{320, 568}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-667h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Portrait</string>
	        <key>UILaunchImageSize</key>
	        <string>{375, 667}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-375h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Landscape</string>
	        <key>UILaunchImageSize</key>
	        <string>{375, 667}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-736h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Portrait</string>
	        <key>UILaunchImageSize</key>
	        <string>{414, 736}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-414h</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Landscape</string>
	        <key>UILaunchImageSize</key>
	        <string>{414, 736}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-Portrait</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Portrait</string>
	        <key>UILaunchImageSize</key>
	        <string>{768, 1024}</string>
	    </dict>
	    <dict>
	        <key>UILaunchImageMinimumOSVersion</key>
	        <string>7.0</string>
	        <key>UILaunchImageName</key>
	        <string>Default-Landscape</string>
	        <key>UILaunchImageOrientation</key>
	        <string>Landscape</string>
	        <key>UILaunchImageSize</key>
	        <string>{768, 1024}</string>
	    </dict>
	</array>
  </dict>
</plist>