<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gft.appverse.android.beacon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" /> 
        <!--  BLE needs api level min 18 to work (in order to successfully compile, put in the build properties:
       		<property name="app.android.target.version" value="18" />
         -->

	<!-- Becon Module permissions (activating bluetooth) -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <application>

    </application>

</manifest>
