<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>HELLOWORLD_TITLE</key>
	<string>Hello World !!!</string>

	<key>SEARCH_PLACEHOLDER</key>
	<string>Search</string>

	<key>COMMENT_RATE</key>
	<string>Leave your comment</string>

	<key>NO_RESULT_SEARCH_OPPS</key>
	<string>Opps!</string>

	<key>NO_RESULT_SEARCH</key>
	<string>We couldn't find anything matching your search.</string>

	<key>WELCOME</key>
	<string>WELCOME TO</string>

	<key>USER</key>
	<string>User</string>

	<key>PASSWORD</key>
	<string>Password</string>

	<key>LOGIN</key>
	<string>LOGIN</string>
        
        <key>FILL_FIELD</key>
	<string>Fields can't be empty</string>
        
        <key>AUTH_FAILED</key>
	<string>Invalid credentials</string>
        
        <key>ALL</key>
	<string>All</string>
        
        <key>ALL_CAT</key>
	<string>All Categories</string>
        
        <key>ALL_PLAT</key>
	<string>All Platforms</string>

	<key>DOWNLOADED</key>
	<string>DOWNLOADED</string>

	<key>RATE_APP</key>
	<string>RATE</string>

	<key>SHARE_APP</key>
	<string>SHARE</string>

	<key>RATE_PRODUCT</key>
	<string>RATE</string>

	<key>SHARE_PRODUCT</key>
	<string>SHARE</string>

	<key>INSTALL</key>
	<string>INSTALL</string>

	<key>REINSTALL</key>
	<string>REINSTALL</string>
        
	<key>APPNOPLATF</key>
	<string>NOT AVAILABLE</string>

	<key>UPDATE</key>
	<string>UPDATE</string>

	<key>DETAILS</key>
	<string>Details</string>

	<key>CATEGORY</key>
	<string>CATEGORY</string>

	<key>VERSION</key>
	<string>VERSION</string>

	<key>AUTHOR</key>
	<string>AUTHOR</string>

	<key>REVIEWS</key>
	<string>REVIEWS</string>

	<key>AVERAGE_RATING</key>
	<string>Average Rating</string>

	<key>SEE_MORE_DETAILS</key>
	<string>SEE MORE DETAILS</string>

	<key>SEE_LESS_DETAILS</key>
	<string>SEE LESS DETAILS</string>

	<key>LOAD_MORE</key>
	<string>LOAD MORE...</string>

	<key>SEE_ALL</key>
	<string>see all</string>

	<key>HIDE_ALL</key>
	<string>hide all</string>
        
        <key>NO_BIN_FILE</key>
	<string>App not available</string>

	<key>ITEM_FOUND</key>
	<string>ITEM FOUND</string>

	<key>ITEMS_FOUND</key>
	<string>ITEMS FOUND</string>

	<key>ERROR</key>
	<string>Error</string>

	<key>WARNING</key>
	<string>Warning</string>

	<key>NO_STAR_SELECTED</key>
	<string>Please, select star to rate.</string>

	<key>NO_CONNECTIVITY</key>
	<string>No connectivity</string>
        
        <key>EXPIRED</key>
	<string>Session expired</string>

	<key>CONFIRMATION</key>
	<string>Confirmation</string>

	<key>DELETE_APP</key>
	<string>Are you sure you want to delete this from downloaded list?</string>

	<key>CHECKING_CREDENTIALS</key>
	<string>Checking credentials</string>

	<key>SERVER_CONNECTION_PROBLEM</key>
	<string>Server Connection Problem</string>

	<key>LOADING</key>
	<string>Loading...</string>

	<key>CANCEL_BUTTON</key>
	<string>Cancel</string>

	<key>CONFIRM_BUTTON</key>
	<string>Confirm</string>

	<key>RELATED_APPS</key>
	<string>RELATED APPS</string>

	<key>AVAILABLE_APPS</key>
	<string>AVAILABLE APPS</string>

	<key>RATE_IT</key>
	<string>Rate it</string>

	<key>TOP_DOWNLOADED</key>
	<string>TOP DOWNLOADED</string>

	<key>TOP_RATED</key>
	<string>TOP RATED</string>

	<key>FEATURED</key>
	<string>FEATURED</string>

	<key>TOP_LATEST</key>
	<string>LATEST APPS</string>

	<key>TOP_DOWNLOADED</key>
	<string>TOP DOWNLOADED</string>

	<key>MAIL_SUBJECT</key>
	<string>Check this application:</string>

	<key>MAIL_BODY_FIRST_PART</key>
	<string>Try</string>

	<key>MAIL_BODY_SECOND_PART</key>
	<string>You can get this application via the GFT StoreFront here:</string>

	<key>OK</key>
	<string>OK</string>

	<key>CANCEL</key>
	<string>Cancel</string>

	<key>YES</key>
	<string>Yes</string>

	<key>NO</key>
	<string>No</string>
        
        <key>OF</key>
	<string>of</string>
        
        <key>REVIEW_ERROR</key>
	<string>There was a problem sending your review. Please, contact with the administrator</string>
        
        <key>AUTOUPDATE</key>
	<string>There is a new version of StoreFront available. Do you want to update?</string>
    </dict>
</plist>
