<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appverse_StatusBarStyle</key>
	<string>dark</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformVersion</key>
	<string>7.1</string>
	<key>CFBundleName</key>
	<string>AppverseSample</string>
	<key>DTSDKName</key>
	<string>iphoneos7.1</string>
	<key>CustomUISupportedInterfaceOrientations~ipod</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>AppverseSample</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>DTSDKBuild</key>
	<string>11D167</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>12F37</string>
	<key>DTPlatformBuild</key>
	<string>11D167</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>DTXcodeBuild</key>
	<string>5B130a</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIAppFonts</key>
	<array/>
	<key>Appverse_StatusBarHidden</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>Unity_DisableThumbnails</key>
	<false/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.gft.appverse.showcase</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-40</string>
		<string>Icon-40@2x</string>
		<string>Icon-60</string>
		<string>Icon-60@2x</string>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon</string>
		<string>Icon@2x</string>
	</array>
	<key>DTXcode</key>
	<string>0510</string>
	<key>CustomUISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>AppverseTwitter_iOS</string>
	<key>Unity_HoldSplashScreenOnStartup</key>
	<false/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CustomUISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>appverse.sample.twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appversetwitter</string>
			</array>
		</dict>
	</array>
	<key>Appverse_BlockRooted</key>
	<false/>
	<key>UIMainNibFile</key>
	<string>UnityUI_iOSViewController_iPad</string>
	<key>UIMainNibFile~ipad</key>
	<string>UnityUI_iOSViewController_iPad</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
